    <div class="home-banner">
      <h1>Bet & <p><span id="banner-typed-text"></span></p> </h1>
      <p>Bienvenue sur la première application pour parier sur les matchs en e-sport ! </p>
    </div>

<div class="container">
<div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/SJUaSbW6rzTndd9mUEG2CntYdd7_pBc54VwBbVevSza1RHXRTm3NBseAEheBkXlDaTs0zwyE7n6uZLDp-Gz7EGEc4qGRAOTT6EL5LLkXCuwh7lsJOR9ZxcW-A7A" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">League Of Legend</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.dexerto.fr/uploads/thumbnails/_thumbnailLarge/WoW-Classic-Ad-ons-mods.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">World Of Warcraft</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://geeko.lesoir.be/wp-content/uploads/sites/58/2020/03/960x0.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Call of Duty</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>
</div>

<div class="exemple">

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

  <hr>

  <h1>exemple exemple exemple exemple exemple exemple exemple exemple </h1>

</div>

</div>


