    <div class="home-banner">
      <h1>Bet & <p><span id="banner-typed-text"></span></p> </h1>
      <h2>Bienvenue sur la première application pour parier sur les matchs en e-sport </h2>
    </div>

<div class="container">
<div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://fr.web.img6.acsta.net/r_640_360/newsv7/19/10/17/09/38/4404050.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">League Of Legend</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.dexerto.fr/uploads/thumbnails/_thumbnailLarge/WoW-Classic-Ad-ons-mods.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">World Of Warcraft</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de Worl of Warcraft e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://geeko.lesoir.be/wp-content/uploads/sites/58/2020/03/960x0.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Call of Duty</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de Call of Duty e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>
</div>

  <div class="exemple">
    <hr>
    <% if user_signed_in? %>
    <h1> Bienvenu <%= current_user.email %>
      <% end %>
    </h1>
    <hr>
    <h2> Rejoignez plus de 100 000 joueurs !</h2>
    <hr>
    <h3> Retrouvez vos jeux vidéos préférés !</h3>
    <hr>
    <h4> Faites dès maintenant partie de l'aventure !</h4>
    <hr>
    <h2> La seule application avec Paypal en paiement</h1>
    <hr>

  </div>

</div>


