<div class="container">
    <div class="header">
    <h1>Bet & Win </h1>
    <p>Bienvenue sur la première application pour parier sur les matchs en e-sport ! </p>
  </div>

<div class="cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/KfnCrL0jW6ndCCB1eyWakaCA4cFDnMDvQxfqAOd6zAPRHO9ZdYsRhDCRQrF0sqL0mFRDUvT9GndZ1Ywef6Icpz1dQNiTTacuYG9vyY3t22H1SHEzptHAcJKH1KA" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">League Of Legend</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.dexerto.fr/uploads/thumbnails/_thumbnailLarge/WoW-Classic-Ad-ons-mods.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">World Of Warcraft</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://geeko.lesoir.be/wp-content/uploads/sites/58/2020/03/960x0.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Call of Duty</h5>
        <p class="card-text">Rejoignez cette ligue, et pariez sur les matchs de League of legend e-sport!</p>
        <a href="#" class="btn btn-primary">Rejoindre</a>
      </div>
    </div>

</div>

</div>


