.home-banner {
  background-image: url(https://images.unsplash.com/photo-1570900947577-d14321ec8a24?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1085&q=80);
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  justify-content: center;
  padding-top: 250px;
}
